# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
*.md