{% extends "base.html" %}

{% load static %}


{% block title %}
تغییر رمز عبور
{% endblock %}



{% block content %}


<div class="min-h-screen flex items-center justify-center px-4">


    <div class="w-full max-w-md">


        <div class="bg-white rounded-3xl shadow-xl border p-8">


            <h1 class="text-2xl font-black text-center mb-6">

                تنظیم رمز عبور جدید

            </h1>



            <form id="reset-password-form"
                  class="space-y-5">


                <input type="hidden"
                       id="uid"
                       value="{{ uid }}">


                <input type="hidden"
                       id="token"
                       value="{{ token }}">



                <div>

                    <label class="block mb-2 font-bold">
                        رمز جدید
                    </label>


                    <input id="new_password"
                           type="password"
                           required
                           class="w-full border rounded-xl p-3">

                </div>




                <div>

                    <label class="block mb-2 font-bold">
                        تکرار رمز جدید
                    </label>


                    <input id="confirm_password"
                           type="password"
                           required
                           class="w-full border rounded-xl p-3">

                </div>



                <p id="error-box"
                   class="text-red-600 text-sm">
                </p>




                <button
                    class="w-full bg-primary-600 text-white py-3 rounded-xl font-black">

                    تغییر رمز

                </button>


            </form>


        </div>


    </div>


</div>


{% endblock %}



{% block extra_js %}

<script src="{% static 'js/reset_password.js' %}"></script>

{% endblock %}